

*{box-sizing: border-box; 
    margin: 0px; 
    padding: 0px;}
    
    .gj{background-image: url(../../images/IN-en-20230904-popsignuptwoweeks-perspective_alpha_website_large.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
color: transparent;
}

.image{height: 50px;
padding-left: 80px;
display: flex;


/* /* margin-bottom: 700px;  */
margin-top: 30px;}

.default-ltr-cache-1qwdmuy {
    /* clip: rect(0 0 0 0); */
    /* -webkit-clip-path: inset(50%); */
    /* clip-path: inset(50%); */
    /* height: 1px; */
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
     width: 1px; 
}
    nav{color: rgb(37, 7, 7);
         /* width: 20%; */

         /* background-color:transparent;   */}
         .row{display: flex;
        /* margin-top: 30px; */
        justify-content: space-between;
 align-items: center;
 /* padding-right: 150px; */
/* gap: 700PX; */
         }
         .gaurav{
            padding-left:800px;
            margin-bottom: 20px;
            background-color: transparent;
            width: 50px;
         }
     /* button{ 
            background-color: red;
            color: red;
         /* } */
          div p{
            color: white;
            font-size: 50px;
            margin-top: 200px;
            text-align: center
          }
          .join{
            text-align: center;
            font-size: 25px;
             margin-top: 5px; 
          }
          .joi{margin-top: 20px
            ;
          font-size:25px ;
        color:floralwhite;}
          .red{background-color: red;
        color: white;
    width: 70px;
display: flex;
}
/* .row{display: flex;} */
/* .flex{display: flex; */
    .flex
    {
        width: 80%;
        padding: 10px;
        margin:  0 auto;
    }
    select{
width: 100px;
text-align: center;
/* background: transparent; */
border:1px black;
background-color: rgba(71, 69, 69, 0.596);

height: 25px;
width: 100px;
color: white;
border-radius: 5px;
gap: 10px; }

button{
  background-color: red;
  width: 65px;
  height: 35px;
  border-radius: 7px;
  gap: 20px;
  color: white;
/* margin-right: 50px; */
}
.email{height: 50px;
width: 450px;
align-items: center;
background-color: rgba(22, 22, 22, 0.596);
border-radius: 5px;
margin-top: 20px;
margin-left: 400px;
}
.get{
  height: 50px;
  height: 50px;
width: 200px;
font-size: 25px;
}


.xyz{
  color: white;
  font-size: 20px;
  padding-right: 800px;
  padding-bottom: 10px;
}
span{
  
 
  /* padding-left: 300px; */
   margin-top: 100px; 
  /* padding-top: 100px; */
}
.TV{
  /* margin-top: 50px; */
  background-color: black;
  color: white;
  padding-top: 120px;
  padding-left: 200px;
  
    display: flex;  
}
div span{
  padding-top: 200px;
  margin-top: 20px;
  font-size: 25px;
  
  padding-right: 10px;
}


.ENJOY{padding-bottom: 40px;
 padding-top: 150px; 
padding-bottom: 20px;
/* width: 50%; */}

.your{
  font-size: 50px;
  /* margin-top: 0px; */
  /* margin-bottom: 300px; */
}
video{position: relative;
top: 95px;
left:100px;}



td{border: 1px solid white;
height: 80px;
width: 320px;
border-radius: 10px;
position: relative;
bottom: 160px;
left: 155px;
background-color: black;}
td,img{padding-left: 10px;
  position: relative;
  /* top: 10px; */
  /* bottom: 10px; */
}
.thing
{
   position: relative; 
   bottom: 30px; 
  font-size: 15px;
  text-align: center;
}
.Questions{
  background-color: black;
  color: white;}

  h2{text-align: center;
  font-size: 50px;
  text-align: center;
  padding-top: 70px;}

 tr,th{
    border: 1px solid white;
height: 95px;
width: 1200px;
/* align-items: center; */
text-align: start;
background-color:rgb(27, 25, 25);
margin: 0 auto;
font-size: 20px;
  }
  .gaurav1{margin: 0 auto;}
  .vide{
    position: absolute;
    z-index: 100px;
  }
  ul{list-style: none;
    padding: 30px;
    width: 20px;
    }
    
    
    
    .unorderlist{ 
        padding:50px;
        display: flex;
        margin-bottom: 30px;
        padding: 20px;
        background-color: black;
        color: white;
        text-underline-position: below;
        margin-left: 200px;
    }
    
    
    li{list-style: none;
        margin-bottom: 10px;
        width: 160px;
        text-decoration-line: underline;
    }
    
    
    
        
    .list{
        width: 20px;
        margin-right: 300px;
        
        
    }
    .call{
      font-size: 10px;
    }
    .black{background-color: black;}
    .Cal{
      color: white;
    }


