@media (max-width: 576px){
    
.email{height: 50px;
    width: 250px;
    align-items: center;
    background-color: rgba(22, 22, 22, 0.596);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 90px;
    }
    .get{
        /* padding-top: 50px; */
        margin-left: 100px;
        margin-top: 20px;
    }
    .TV{flex-wrap: wrap;
    padding-left: 0px;}
    .vide{left: -74px;
        top: 1207px;}

    video{left: 28px;
    top: 111px;}
    td,img{padding-left: 0px;}
    
    
.ENJOY{
    
   padding-top: 0px;
   }
   .background{padding-left: -1px;}
}